{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Clone Bot</h1>
    <form action="{% url 'clone_bot' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="bot_uuid">Bot UUID:</label>
            <input type="text" class="form-control" name="bot_uuid" id="bot_uuid" required>
        </div>
        <div class="form-group">
            <label for="amount1">Amount 1:</label>
            <input type="number" step="0.0000001" class="form-control" name="amount1" id="amount1" required>
        </div>
        <div class="form-group">
            <label for="amount2">Amount 2:</label>
            <input type="number" step="0.0000001" class="form-control" name="amount2" id="amount2" required>
        </div>
        <div class="form-group">
            <label for="times">How Many Clones:</label>
            <input type="number" step="1" class="form-control" name="times" id="times" required>
        </div>
        <div class="form-group">
            <label for="mode">Mode:</label>
            <select class="form-control" name="mode" id="mode" required>
                <option value="strict-send">Strict Send</option>
                <option value="strict-receive">Strict Receive</option>
            </select>
        </div>
        <!-- Add other input fields for the remaining parameters as needed -->

        <button type="submit" class="btn btn-secondary">Clone Bot</button>
    </form>
</div>
<script>
    // JavaScript code to pre-fill the bot UUID from the query parameter
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const botUuid = urlParams.get('bot_uuid');
        if (botUuid) {
            document.getElementById('bot_uuid').value = botUuid;
        }
    });
</script>

{% endblock %}
