{% extends "base.html" %}

{% block title %}DEPOSIT IN LIQUIDITY POOL{% endblock %}

{% block content %}
    <h1>DEPOSIT LIQUIDITY</h1>
    <form action="{% url 'deposit_liquidity_pool' %}" method="post">
        {% csrf_token %}
        
        <!-- Asset A Code and Issuer -->
        <div class="form-group">
            <label for="secret">Secret Key</label>
            <input type="text" class="form-control" id="secret" name="secret" required>
        </div>
        <div class="form-group">
            <label for="asset_a_code">Asset A Code:</label>
            <input type="text" class="form-control" id="asset_a_code" name="asset_a_code" required>
        </div>
        <div class="form-group">
            <label for="asset_a_issuer">Asset A Issuer:</label>
            <input type="text" class="form-control" id="asset_a_issuer" name="asset_a_issuer" required>
        </div>
        
        <!-- Asset B Code and Issuer -->
        <div class="form-group">
            <label for="asset_b_code">Asset B Code:</label>
            <input type="text" class="form-control" id="asset_b_code" name="asset_b_code" required>
        </div>
        <div class="form-group">
            <label for="asset_b_issuer">Asset B Issuer:</label>
            <input type="text" class="form-control" id="asset_b_issuer" name="asset_b_issuer" required>
        </div>
        
        <!-- Max Amount Asset A and Asset B -->
        <div class="form-group">
            <label for="max_amount_asset_a">Max Amount Asset A:</label>
            <input type="number" step="0.0000001" class="form-control" id="max_amount_asset_a" name="max_amount_asset_a" required>
        </div>
        <div class="form-group">
            <label for="max_amount_asset_b">Max Amount Asset B:</label>
            <input type="number" step="0.0000001" class="form-control" id="max_amount_asset_b" name="max_amount_asset_b" required>
        </div>
        
        <!-- Minimum Price and Maximum Price -->
        <div class="form-group">
            <label for="min_price">Minimum Price:</label>
            <input type="number" step="0.0000001" class="form-control" id="min_price" name="min_price" required>
        </div>
        <div class="form-group">
            <label for="max_price">Maximum Price:</label>
            <input type="number" step="0.0000001" class="form-control" id="max_price" name="max_price" required>
        </div>
        
        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if messages %}
<div class="alert alert-danger mt-3">
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
