{% extends "base.html" %}

{% block extrastyles %}
<style>
  /* Your provided CSS */
</style>
{% endblock %}

{% block content %}
<section class="text-center">
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3">HashDex Portal</h6>
            <div class="card-3d-wrap mx-auto" style="width: 800px; height: 550px;">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">ERROR 404</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
